{{!-- layouts/main.hbs --}}
<!doctype html>
<html>
  <head>
    {{>tags}}
  </head>

  <body>
    {{>header}}

    <div class="container">
      <div class="row mb-5">
        <div class="col">
          {{{contents}}}
        </div>
      </div>

      {{#each blog}}
      <div class="row mt-2 mb-5">
        <div class="col">
          <div class="row">
            <div class="col">
              <a href={{this.path}}/>
                <h3 class="mb-0">{{this.title}}</h3>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="date py-0 mb-1">{{this.displayDate}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{this.description}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <nav class="navbar">
      <div class="navbar-nav">
        <div id="copyright">© Landon Turner</div>
      </div>
    </nav>

    {{>scripts}}
  </body>
</html>
